{% if page_obj %}
    <div class="row">
        <div class="col-sm">
            <form                
                hx-get="{% url 'list_songs' %}"
                hx-trigger="keyup delay:500ms"
                hx-target="#table-songs"
                hx-push-url="true"
            >
              <div class="row g-3 align-items-center">
                <div class="col-auto">
                    <label for="" class="form-label">Pesquisar:</label>
                </div>
                <div class="col-auto">
                    <input type="search" class="form-control" name="search">
                </div>
              </div>
            </form>
            <div id="table-songs">
                {% include 'partials/htmx_components/htmx_table_songs.html' %}
            </div>
        </div>
    </div>
{% else %}
	<h4>Nenhuma música cadastrada</h4>
{% endif %}