<!-- pagination.html -->
<!-- https://gist.github.com/rg3915/01ca76f099f431c24bc0536bef83076b -->
<!-- Use https://gist.github.com/rg3915/01ca76f099f431c24bc0536bef83076b#file-pagination02-html -->

<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-end">
        
        {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link"
                    hx-get="{% url 'list_songs' %}?page={{ page_obj.previous_page_number }} %}"
                    hx-target="#example"
                >&laquo;</a>
            </li>
        {% endif %}
        
        {% for page in page_obj.paginator.page_range %}
            <li class="page-item">
                <a class="page-link"
                    href="{% url 'list_songs' %}?page={{ page }}"
                >{{ page }}</a>
            </li>
        {% endfor %}
        {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link"
                    hx-get="{% url 'list_songs' %}?page={{ page_obj.next_page_number }} %}"
                    hx-target="#example"
                >&raquo;</a>
            </li>
        {% endif %}
    </ul>
</nav>